name: Auto Scraper Saham

on:
  # Jadwal otomatis (uncomment saat sudah siap)
  # schedule:
  #   - cron: '0 3 * * *'    # 10:00 WIB
  #   - cron: '0 5 * * *'    # 12:00 WIB
  #   - cron: '0 7 * * *'    # 14:00 WIB
  #   - cron: '30 8 * * *'   # 15:30 WIB
  #   - cron: '0 10 * * *'   # 17:00 WIB
  workflow_dispatch:

jobs:
  scrape-saham:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil Kode
        uses: actions/checkout@v3

      - name: Siapkan Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest

      - name: Install Library
        run: pip install -r backend/requirements.txt

      - name: Jalankan Robot
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
          SIGNALSAHAM_EMAIL: ${{ secrets.SIGNALSAHAM_EMAIL }}
          SIGNALSAHAM_PASSWORD: ${{ secrets.SIGNALSAHAM_PASSWORD }}
          # Optional: ganti DB jika perlu
          # MONGO_DB_NAME: saham_db

          HEADLESS_MODE: 'true'
          LINKS_FILE: backend/link-name-stock.txt
          LINKS_LIMIT: '5'
          SKIP_EXISTING: 'false'   # untuk run awal isi DB
          RATE_LIMIT_MS: '800'
          REFRESH_RETRY: 'true'
          UPDATE_MODE: 'append'
        run: python backend/scraper.py
